*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

header {
    display:flex;
    flex-direction: column;
    list-style-type: none;
}

header input[type="checkbox"]{
    display: none;
}

header input[type="checkbox"]:checked ~ a{
    display: none;
}
header a{
    margin-top:1rem;
    transition: all .2s ease;
}

header a:hover{
    background-color: grey;  
}

header a{
    text-decoration: none;
    font-size: 3rem;
    display: block;
}

label{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label hr{
    height: 300px;
}

@media only screen and (min-width:768px){
    body{
        background-color: skyblue;
    }
    header{
        flex-direction: row;
        justify-content: space-evenly;
    }
    header label{
        display: none;
    }
    header a{
        display: block;
    }
    header a:hover{
        border-bottom: 3px solid black;
        background-color: skyblue;
    }
    header input[type="checkbox"]:checked ~ a{
        display: inline;
    }
}

@media only screen and (min-width:1200px){
    body{
        background-color: silver;
    }
    header a:hover{
        border-bottom: 3px solid black;
        background-color: silver;
    }
    header input[type="checkbox"]:checked ~ a{
        display: inline;
    }
}



/*
box-shadow:;desplazamiento en x, en y , que tan difuminado, qué tan esparcido(opcional),color,  <- Se divide en espacios y poner una coma cuando vayas a poner otra sombra.
position:relative;top:100%;
El elemento que se va a mover tiene absolute y el de referencia relative.
:focus -> es para inputs.
outline -> como el borde de los inputs.
filter:red(50%); blur(10px) qué tantos px la voy a difuminar.
*/